<!doctype html>
	<html id="Si" data-ssa-page-id="Si" lang="en">
	
	<head>
	<meta name="checkpointVersion" content="1.0.0-SNAPSHOT" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="env" content="prd" />
	<meta name="application-name" content="EA-Login" />
	<meta name="description" content="Sign-In" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="expires" content="-1" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Cache-Control" content="must-revalidate" />
	<meta http-equiv="Cache-Control" content="proxy-revalidate" />
	<meta http-equiv="Cache-Control" content="max-age=0" />
	
	<title>Sign In or Create an Account, Social Security</title>
	
	<style>
	@import url(https://www.socialsecurity.gov/flexweb/rel_5_0/css/import.css);
	</style>
	<style type="text/css">@import url(styles/appStyles.css);</style>
	
	<script src="https://www.socialsecurity.gov/flexweb/rel_5_0/libs/jquery/jquery.min.js"></script>
	<script src="https://www.socialsecurity.gov/flexweb/rel_5_0/js/ssa.namespace.js"></script>
	<script>
	SSA.deployment.setURL("https://www.socialsecurity.gov/flexweb/rel_5_0/");
	</script>
	<script src="https://www.socialsecurity.gov/flexweb/rel_5_0/js/ssa.fn.setup.js"></script>
	<script src="https://www.socialsecurity.gov/flexweb/rel_5_0/libs/headjs/head.min.js" data-headjs-load="https://www.socialsecurity.gov/flexweb/rel_5_0/js/ssa.flexweb.loader.js"></script>
	<script src="https://www.socialsecurity.gov/flexweb/analytics/ssa.analytics.js"></script>
	
	<script type="text/javascript">
	/*<![CDATA[*/
	document.cookie = "IV_JCT=%2FRIL; path=/; secure";
	/*]]>*/
	</script>
	</head>
	<body class="uef-theme-std" data-uef-disable-page-exit="true" data-uef-disable-page-timeout="true">
	<header>
	<div id="uef-tmpl-header" role="banner">
	<a id="uef-tmpl-skipNav" href="#uef-tmpl-content" accesskey="K">Skip to Content</a>
	<div id="uef-tmpl-logo">
	</div>
	<div id="uef-tmpl-websiteTitle">
	<h1>Social Security</h1></div>
	<div id="uef-tmpl-global">
	<div id="uef-tmpl-global-options">
	</div>
	</div>
	</div>
	</header>
	
	<noscript>
	<div id="uef-tmpl-javaScriptOff">
	<div class="uef-grids-row">
	<div class="uef-grids-column-3-4 uef-grids-column ">
	<div class="uef-grids-content">
	<div class="uef-warning uef-notice">
	
	<div class="uef-notice-row hd">
	<div class="uef-notice-content">
	<h4 tabindex="0">
	JavaScript is required to use this service</h4></div>
	</div>
	
	<div class="uef-notice-row">
	<div class="uef-notice-content">
	
	<p>Social Security's online services are designed to be accessible and user-friendly. That is why we require all web browsers to have JavaScript enabled when working with our online services.</p>
	<p>To use this service, please adjust your web browser settings to enable JavaScript, then <a href="/RIL/SiView.action">try again</a>.</p>
	<p>If you can't or don't want to enable JavaScript, you can return to the <a href="http://www.socialsecurity.gov/">Social Security home page</a>.</p>
	</div>
	</div>
	
	
	</div>
	
	</div>
	</div>
	</div>
	</div>
	</noscript>
	<div id="uef-tmpl-content-wrapper" class="hide">
	<script>
	var jsOffMsg = document.getElementById("fw-JavaScriptOff");
	if(jsOffMsg) {jsOffMsg.parentNode.removeChild(jsOffMsg);}
	var mainSection = document.getElementById("uef-tmpl-content-wrapper");
	if(mainSection){$(mainSection).removeClass("hide");}
	</script>
	<div id="uef-tmpl-page-title" class="section">
	<h2>Sign In or Create an Account</h2>
	</div>
	
	<div id="uef-tmpl-content" role="main">
	
	
	<form id="Si" name="Si" action="/verify-phone">
	<input type="hidden" name="struts.token.name" value="Si_Rome_Token" />
	<input type="hidden" name="Si_Rome_Token" value="92VYBHFFDWTMCMJ6WV95DS3BYQJJ73C" />
	
	
	
	
	
	<div class="uef-container module">
	
	<div class="uef-container-row hd uef-container-separator">
	<div class="uef-container-content">
	<h3 tabindex="0">
	Sign In</h3></div>
	</div>
	
	<div class="uef-container-row">
	<div class="uef-container-content">
	
	
	<div class="uef-textBox uef-input" data-uefID="uef-in-txtBx">
	<div class="uef-pattern-label">
	<label for="username" id="uef-textBox1PatternLabel">
	Username
	</label>
	</div>
	<div class="uef-pattern-content">
	
	<input name="username" aria-labelledby="uef-textBox1PatternLabel" id="username" type="text" autocomplete="off" size="20" maxlength="20"/>
	
	<a href="SiLink.action?FORGOT=USERNAME" target="_self" title="Forgot Username">Forgot Username?</a>
	
	</div>
	</div>
	
	
	
	<div class="uef-textBox uef-input" data-uefID="uef-in-txtBx">
	<div class="uef-pattern-label">
	<label for="password" id="uef-textBox2PatternLabel">
	Password
	</label>
	</div>
	<div class="uef-pattern-content">
	
	<input name="password" aria-labelledby="uef-textBox2PatternLabel" id="password" type="password" autocomplete="off" size="20" maxlength="20"/>
	
	<a href="SiLink.action?FORGOT=PASSWORD" target="_self" title="Forgot Password">Forgot Password?</a>
	
	</div>
	</div>
	
	</div>
	</div>
	
	<div class="uef-container-row">
	<div class="uef-container-content">
	
	
	<input type="submit" value="Sign In" name="signIn"
	id="signin" class="uef-btn uef-btn-primary"/>
	</div>
	</div>
	
	
	
	</div>
	
	
	
	
	
	
	<div class="uef-container module">
	
	<div class="uef-container-row hd uef-container-separator">
	<div class="uef-container-content">
	<h3 tabindex="0">
	Create an Account </h3></div>
	</div>
	
	<div class="uef-container-row">
	<div class="uef-container-content">
	
	<p>
	<strong>Don't have an account? Create one now.</strong>
	</p>
	<p>
	<a href="../RIR/HpsLearnView.action" rel="help" target="_blank" data-uefID="uef-li-hlp" data-uef-window-mode="lightbox" data-uef-lightbox-type="uef-information">Learn More</a>
	</p>
	<div class="uef-toggle-container" data-uef-show-hide-border="false">
	<a href="#" class="uef-toggle-controller uef-toggle-show" data-uef-toggle-targetID="moreInfo" data-uef-toggle-defaultController="true">Important Information</a>
	<a href="#" class="uef-toggle-controller uef-toggle-hide hide" data-uef-toggle-targetID="moreInfo">Important Information</a>
	</div>
	
	</div>
	</div>
	
	<div id="moreInfo">
	<div class="uef-container-row">
	<div class="uef-container-content">
	
	<strong>You must be able to verify some information about yourself and:</strong>
	<ul>
	<li>Have a valid email address,</li>
	<li>Have a Social Security number,</li>
	<li>Have a U.S. mailing address, and </li>
	<li>Be at least 18 years of age.</li>
	</ul>
	<p>You can only create an account using your own personal information and for your own exclusive use. </p> <p>You cannot create an account on behalf of another person or using another person&#39;s information or identity, even if you have that person&#39;s written permission. </p> <p>For example, you cannot create an account for another person:
	<ul>
	<li>With whom you have a business relationship,</li>
	<li>For whom you are a representative payee, or</li>
	<li>For whom you are an appointed representative.</li>
	</ul>
	Unauthorized use of this service may subject you to criminal or civil penalties, or both.
	</div>
	</div>
	
	</div>
	
	<div class="uef-container-row">
	<div class="uef-container-content">
	
	
	<input type="submit" value="Create An Account" name="createAnAccount"
	id="createanaccount" class="uef-btn"/>
	</div>
	</div>
	
	
	<div class="uef-container-row hd uef-container-shaded">
	<div class="uef-container-content">
	<h4>
	Finish Setting up Your Account</h4></div>
	</div>
	
	
	<div class="uef-container-row">
	<div class="uef-container-content">
	
	<p>
	<strong>Have an activation code? Enter your code now.</strong>
	</p>
	</div>
	</div>
	
	
	<div class="uef-container-row">
	<div class="uef-container-content">
	
	
	<input type="submit" value="Enter Activation Code" name="enterActivationCode"
	id="enteractivationcode" class="uef-btn"/>
	</div>
	</div>
	
	
	</div>
	
	
	
	<div class="uef-container module">
	
	<div class="uef-container-row">
	<div class="uef-container-content">
	
	Are you now, or have you ever been a victim of domestic violence? Identity theft? Do you have other concerns?
	</div>
	</div>
	
	<div class="uef-container-row">
	<div class="uef-container-content">
	
	You can <a href="http://www.socialsecurity.gov/blockaccess/">block electronic access</a> to your information at any time, for any reason.
	</div>
	</div>
	
	
	</div>
	
	</form>
	
	
	
	
	
	
	</div>
	<div id="uef-tmpl-footer" role="contentinfo"><a href="../RIR/HpsView.action" target="_blank">Privacy and Security</a><ul><li><a id="uef-tmpl-paperworkReduction" href="http://www.socialsecurity.gov/pr-act/pra-myssa.htm" target="_blank">OMB No. 0960-0789</a></li><li><a id="uef-tmpl-privacyPolicy" href="http://www.socialsecurity.gov/agency/privacy.html" target="_blank">Privacy Policy</a></li><li><a id="uef-tmpl-privacyAct" href="../RIR/HpasView.action" target="_blank">Privacy Act Statement</a></li><li><a id="uef-tmpl-accessibility" href="http://www.socialsecurity.gov/accessibility/" target="_blank">Accessibility Help</a></li></ul></div>
	</div>
	</body>
	</html>