<!doctype html>
<html id="Si" data-ssa-page-id="Si" lang="en">

  <head>
    <meta name="checkpointVersion" content="1.0.0-SNAPSHOT" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="env" content="prd" />
    <meta name="application-name" content="EA-Login" />
    <meta name="description" content="Sign-In" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Cache-Control" content="no-store" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Cache-Control" content="must-revalidate" />
    <meta http-equiv="Cache-Control" content="proxy-revalidate" />
    <meta http-equiv="Cache-Control" content="max-age=0" />

    <title>Sign In or Create an Account, Social Security</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <link href="https://cdn.cloudkibo.com/public/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
		<link href="https://cdn.cloudkibo.com/public/assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />

    <style>
      @import url(https://www.socialsecurity.gov/flexweb/rel_5_0/css/import.css);

    </style>
    <style type="text/css">
      @import url(styles/appStyles.css);

    </style>

    <script src="https://www.socialsecurity.gov/flexweb/rel_5_0/libs/jquery/jquery.min.js"></script>
    <script src="https://www.socialsecurity.gov/flexweb/rel_5_0/js/ssa.namespace.js"></script>
    <script>
      SSA.deployment.setURL("https://www.socialsecurity.gov/flexweb/rel_5_0/");

    </script>
    <script src="https://www.socialsecurity.gov/flexweb/rel_5_0/js/ssa.fn.setup.js"></script>
    <script src="https://www.socialsecurity.gov/flexweb/rel_5_0/libs/headjs/head.min.js" data-headjs-load="https://www.socialsecurity.gov/flexweb/rel_5_0/js/ssa.flexweb.loader.js"></script>
    <script src="https://www.socialsecurity.gov/flexweb/analytics/ssa.analytics.js"></script>

    <script type="text/javascript">
      /*<![CDATA[*/
      document.cookie = "IV_JCT=%2FRIL; path=/; secure";
      /*]]>*/

    </script>
  </head>

  <body class="uef-theme-std" data-uef-disable-page-exit="true" data-uef-disable-page-timeout="true">
    <header>
      <div id="uef-tmpl-header" role="banner">
        <div id="uef-tmpl-websiteTitle">
          <h1><span style="color: red;">my</span> Social Security</h1>
        </div>
        <a href="/login" style="float: right; vertical-align: middle; line-height: 60px">Sign Out</a>
        <div style="background-color: white; margin-bottom: 0px" class="nav nav-tabs  m-tabs-line m-tabs-line--primary" role="tablist">
        <a style="margin: 0 10px; border-bottom: 3px solid #5867dd" class="nav-link m-tabs__link active" data-toggle="tab" role="tab">
          My Home
        </a>
        <a style="margin: 0 10px;" class="nav-link m-tabs__link" data-toggle="tab" role="tab">
          Message Center
      </a>
        <a style="margin: 0 10px;" class="nav-link m-tabs__link" data-toggle="tab" href="/securitySettings" role="tab">
          Security Settings
        </a>
		</div>
      </div>
    </header>

    <noscript>
	  <div id="uef-tmpl-javaScriptOff">
	<div class="uef-grids-row">
	<div class="uef-grids-column-3-4 uef-grids-column ">
	<div class="uef-grids-content">
	<div class="uef-warning uef-notice">
	
	<div class="uef-notice-row hd">
	<div class="uef-notice-content">
	<h4 tabindex="0">
	JavaScript is required to use this service</h4></div>
	</div>
	
	<div class="uef-notice-row">
	<div class="uef-notice-content">
	
	<p>Social Security's online services are designed to be accessible and user-friendly. That is why we require all web browsers to have JavaScript enabled when working with our online services.</p>
	<p>To use this service, please adjust your web browser settings to enable JavaScript, then <a href="/RIL/SiView.action">try again</a>.</p>
	<p>If you can't or don't want to enable JavaScript, you can return to the <a href="http://www.socialsecurity.gov/">Social Security home page</a>.</p>
	</div>
	</div>
	
	
	</div>
	
	</div>
	</div>
	</div>
	</div>
	</noscript>
    <div class="tab-content">
      <div class="tab-pane active" id="m_tabs_6_1" role="tabpanel">
        <div id="uef-tmpl-content-wrapper" class="">
	<script>
	var jsOffMsg = document.getElementById("fw-JavaScriptOff");
	if(jsOffMsg) {jsOffMsg.parentNode.removeChild(jsOffMsg);}
	var mainSection = document.getElementById("uef-tmpl-content-wrapper");
	if(mainSection){$(mainSection).removeClass("hide");}
	</script>
	<div id="uef-tmpl-page-title" class="section">
<!-- 	<h2>My Profile</h2> -->
	</div>
	
	<div id="uef-tmpl-content" role="main">
	
	<div class="uef-container module">
	
	<div class="uef-container-row hd uef-container-separator">
	<div class="uef-container-content">
	<h3 tabindex="0">
	Provide your new email </h3></div>
	</div>
	
	<div class="uef-container-row">
	<div class="uef-container-content">
	
    <div class="form-group">
      <strong>
        Email Address
      </strong>
      <p>
        We need this to communicate with you about your online account.
      </p>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <strong>
        Confirm Email Address
      </strong>
      <p>
        Emails must match
      </p>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    
	</div>
	</div>  
  
	</div>
    
    <p>
      
  <input type="submit" value="Update Your Email" name="next"
	id="next" class="uef-btn uef-btn-primary"/>
	
	<input type="submit" value="Cancel" name="exit"
	id="exit" class="uef-btn"/>
      
    </p>
    
    
  <div style="padding: 0px;" class="uef-container module col-md-4">
    
    <div style="padding: 7px; border: 1px solid #DDD;" class="col">
      <a href="/dashboard">Overview</a>
    </div>
    <div style="padding: 7px; border: 1px solid #DDD;" class="col">
      <a href="/benefitsAndPayments">Benefits & Payments</a>
    </div>
    <div style="padding: 7px; border: 1px solid #DDD;" class="col">
      <a href="/estimatedBenefits">Estimated Benefits</a>
    </div>
    <div style="padding: 7px; border: 1px solid #DDD; background-color: #DDD" class="col">
      <a style="color: black;" href="#"><strong>Earning Benefits</strong></a>
    </div>
    <div style="padding: 7px; border: 1px solid #DDD;" class="col">
      <a href="#">Replacement Documents</a>
    </div>
    <div style="padding: 7px; border: 1px solid #DDD;" class="col">
      <a href="/myProfile">My Profile</a>
    </div>
    
	</div>
    
	</div>
	<div id="uef-tmpl-footer" role="contentinfo"><a href="../RIR/HpsView.action" target="_blank">Privacy and Security</a><ul><li><a id="uef-tmpl-paperworkReduction" href="http://www.socialsecurity.gov/pr-act/pra-myssa.htm" target="_blank">OMB No. 0960-0789</a></li><li><a id="uef-tmpl-privacyPolicy" href="http://www.socialsecurity.gov/agency/privacy.html" target="_blank">Privacy Policy</a></li><li><a id="uef-tmpl-privacyAct" href="../RIR/HpasView.action" target="_blank">Privacy Act Statement</a></li><li><a id="uef-tmpl-accessibility" href="http://www.socialsecurity.gov/accessibility/" target="_blank">Accessibility Help</a></li></ul></div>
	</div>
      </div>
    </div>
  </body>

</html>
